.container {
  max-height: 90vh;
  overflow-y: scroll;
  padding: 20px;
}

.wrapper {
  /* height: 100vh; */
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.addfield {
  display: flex;
  padding: 35px;
  flex-direction: column;
}

.addfield input {
  margin: 10px;
}
